* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --bg-1: #020617;
    --bg-2: #111827;
    --color-text: #9ca3af;
    --color-text-2: #eab308;
    --color-text-3: #6b7280;
    --color-btn: #facc15;
    --color-text-4: #f3f4f6;
}
body {
    font-family: "Lexend Deca", sans-serif;
    /* background-color: #262a2b; */
}
.container {
    margin: auto;
    width: 1140px;
    max-width: calc(100% - 24px);
}
a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
}
.header {
    background-color: var(--bg-1);
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.header .inner-wrap {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}
.header .inner-wrap p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.header .inner-wrap span {
    color: var(--color-text-2);
}
.header .inner-wrap .list ul {
    display: flex;
    gap: 27px;
}
.header .inner-wrap .list ul li a {
    display: inline-block;

    padding: 20px 0;
}
.header .inner-wrap .list ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.header .inner-wrap .list .active {
    color: #fff;
}
.header .inner-wrap .fa-bars {
    display: none;
}
.menu-toggle {
    cursor: pointer;
    font-size: 30px;
    position: relative;
    z-index: 9999;
}
.menu-link {
    display: block;
    padding: 20px 15px;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.menu.is-show {
    transform: translateX(0);
}
.menu {
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.25s linear;
    background-color: var(--bg-1);
    z-index: 99999;
}
.fa-times {
    color: #fff;
    z-index: 999999;
}
@media screen and (max-width: 768px) {
    .list {
        display: none;
    }
    .header .inner-wrap .fa-bars {
        display: block;
        color: #fff;
        font-size: 20px;
    }
    .in-out {
        display: none;
    }
    .section-one .inner-wrap {
        flex-direction: column;
    }
    .section-one .inner-wrap .inner-img {
        width: 100%;
        height: 100%;
    }
    .section-one .inner-wrap .inner-content {
        text-align: center;
    }
    .section-two .inner-wrap {
        flex-direction: column;
    }
    .section-two .inner-wrap .inner-img {
        width: 100%;
    }
    .section-two .inner-wrap .inner-content {
        width: 100%;
        text-align: center;
    }
    .section-two .inner-wrap .inner-content p {
        width: 100%;
    }
    .section-three .inner-wrap .inner-desc {
        width: 100%;
    }
    .section-three .inner-wrap {
        text-align: center;
    }
    .section-three .inner-wrap .inner-list {
        flex-direction: column;
    }
    .section-three .inner-wrap .inner-item {
        width: 100%;
    }
    .section-five .inner-wrap {
        text-align: center;
    }
    .section-five .inner-wrap .inner-list {
        flex-direction: column;
    }
    .section-five .inner-wrap .inner-list .inner-item {
        width: 100%;
    }
    .section-five .inner-wrap .inner-desc {
        width: 100%;
    }
    .section-seven .inner-wrap .inner-box {
        flex-direction: column;
        text-align: center;
    }
    .section-seven .inner-wrap .inner-box .inner-left {
        width: 100%;
    }
    .section-seven .inner-wrap .inner-box .inner-right {
        width: 100%;
        text-align: center;
    }
    .section-seven .inner-wrap .inner-box .inner-right .inner-form-wrap input,
    .section-seven
        .inner-wrap
        .inner-box
        .inner-right
        .inner-form-wrap
        textarea {
        width: 100%;
    }
    .modal {
        display: none;
    }
}
